<%= stylesheet_link_tag"user_show"%>

<h1 class="page-title">アカウント情報</h1>
<div class="user_image">
<%= image_tag "#{@user.image}",:width => "250px",:height => "200px" %>
</div>

<div class="container">

<table>
        <tr>
            <td class="left">
                E-mailアドレス
            </td>
            <td class="right">
                <%= @user.e_mail %>
            </td>
        </tr>
        <tr>
            <td colspan ="2" class="edit">
                <%= link_to("編集","/user/:id/edit")%>
            </td>
        </tr>
</table>
</div>
<%= render"shared/account_prof"%>
